@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem
  }
}

html{
  background-color: #1c1917;
}


.modal-container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.507);
  width: 100vw;
  height: 100vh;
}