@import "tailwindcss";





:root {
  --color-background: rgb(231, 231, 231);
  --color-text: rgb(29, 28, 28);
  --color-primary: black;

}


[data-theme="dark"] {
  --color-background: #0a0a0a;
  --color-text: rgb(226, 226, 226);
  --color-primary: #4f46e5;

}